body {
    font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 2rem 10rem;
    line-height: 1.4rem;
    background: #edf1f3;
}

a{
    cursor: pointer;
}
/* from https://css-tricks.com/css-basics-styling-links-like-boss/ */

/* 
Wrapper */
.container{
    background: #fff;
}


/* Navegation top */
.header-top{
    display: grid;
    grid-gap: 1px;
    grid-template-areas: 
        "logo   page-title  page-title  page-title  page-title  page-title  page-title  page-title"
        "logo   nav-top     nav-top     nav-top     nav-top     nav-top     nav-top     nav-top";
}

.logo{
    grid-area: logo;
    background: gold;
    font-weight: 600;
    font-size: 1.6rem;
    display:flex;
    align-items: center; /* Vertical center alignment */
    justify-content: center; /* Horizontal center alignment */
}

.img-logo {
    width: 100px;
}

.page-title{
    grid-area: page-title;
    background: gold;
    padding: 1rem;
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.6rem;
}

.top-nav-container{
    grid-area: nav-top;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1px;
}


.link a{
    display: grid;
    background: gold;
    padding: 0.5rem;
	text-decoration: none;
    text-align: center;
    font-weight: 600;
    text-transform: uppercase;
    color:black;
	font-size: 0.9rem;
}

.link a:hover{
    background: black;
    color: gold;
    font-weight: 600;
}

.active, .btn:hover {
    background-color: #666;
    color: white;
}


/* Banner with a big image */
.banner {
	min-height: 350px;
	background: url(imgs/banner.jpg);
	background-size: cover;
	background-position: top;
	display:flex;
	flex-direction: column;
	align-items: start;
	justify-content: center;
}/* The Idea for this banner I took from a youtube channel called from traversy Media 
https://www.youtube.com/watch?v=moBhzSC455o
I added extra code to it.*/


.banner h2 {
    padding-left: 2rem;
	font-size: 2.5rem;
	margin-bottom: 1rem;
	color: white;
}

.banner p {
    padding-left: 2.1rem;
	font-size: 0.9rem;
	margin-top: 0;
    color: white;
    font-weight: 600;
}

/*Page location, eg Main page, Table... */
.where-am-i{
    padding: 20px 0px 0px 20px;
    font-weight: 600;
    font-size: 1.3rem;
}

/* Main content */
.main{
display: grid;
grid-template-columns: repeat(8, 1fr);
grid-auto-rows: minmax(100px, auto);
grid-gap: 5px;
padding-top: 20px;
grid-template-areas:
/* lm = left-main
mil = main-image-left
mir = main-image-right
a = aside  */
  "lm lm lm lm lm lm a a"
  "lm lm lm lm lm lm a a"
  "mil mil mil mir mir mir a a";
}

.main-left{
    grid-area: lm;
    text-align: justify;
    padding: 0px 2rem;
}

.main-left h1 {
    font-size: 3rem;
    text-align: left;
    line-height: 2.5rem;
}

.main-left p {
    font-size: 1.1rem;
}

/* A way to resize the images acording to it space */
.main-img-left, .main-img-right{
    margin: auto;
    width: 65%;
    border: 1px solid gold;
    border-radius: 5px;
}

.main-img-left{
    grid-area: mil;
}

.main-img-right{
    grid-area: mir;
}


/* ASIDE */
.aside img{
    width: 30px;
}

.aside{
    grid-area: a;
    border-left: 1.5px #dbdbdb solid;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr 2fr;
    grid-template-rows: repeat(10, 50px);
}

.live-score{
    display: grid;
    grid-column: 1 / 6;
    align-self: center;
    justify-self: center;
    font-size: 1.3rem;
    font-weight: 500;

}

.box{
    font-size: 1.3rem;
    align-self: center;
}

.home-team {
    justify-self: end;
    align-items: center;
}
.score{
    justify-self: center;
}
.away-team {
    justify-self: start;
}


/* FOOTER */
.footer{
    display: grid;
    border-top: 1px #dbdbdb solid;
    grid-template-columns: repeat(1, 1fr);
    font-size: 1rem;
    grid-gap: 10px;
    background:gold;
    padding: 30px;
    margin-top: 20px;
    grid-template-areas: 
      "footer-menu"
      "icons"
      "copyright";
    }

.icons{
    justify-self: start;
    width: 100%;
    align-self: center;
    display: grid;
    grid-template-columns: repeat(1, 1fr)
}

.copyright{
    grid-area:copyright;
    width: 100%;
    padding-left: 10px;
    text-align: center;
}

.footer-menu{
    text-align: center;
    grid-area: footer-menu;
    width: 100%;
}

.footer-menu a{
    background: gold;
    padding: 0.5rem 2rem;
	text-decoration: none;
    text-align: center;
    font-weight: 600;
    text-transform: uppercase;
    color:black;
	font-size: 0.9rem;
}

.footer-menu a:hover{
    background: black;
    color: gold;
    font-weight: 600;
    text-decoration: none;
}

.fb, .tw, .yb {
    display: grid;
    justify-self: center;
    align-self: center;
}

a.fb, a.tw, a.yb{
    text-decoration: none;
    color:black;
}

a.fb:hover, a.yb:hover, a.tw:hover{
    text-decoration: underline;
    color:black;
}

/* ############# Page Teams ############ */

.team-main{
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(200px, 1fr) );
    grid-gap: 1rem;
    padding: 0px 1rem;
}

.team-img{
    display: grid;
    height: 8rem;
    
}


.gremio, .atletico-mg, .atletico-pr, .bahia, .botafogo, .ceara, .chape, .corinthians, .cruzeiro, .flamengo, .fluminense, .america-mg, .internacional, .palmeiras, .parana, .santos, .sao-paulo, .sport, .vasco, .vitoria{
    justify-self: center;
    text-align: center;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
    padding: 1.5rem;
    border-radius: 0.5rem;
}
/* copied box-shadow and background from here https://github.com/wesbos/css-grid/blob/master/17%20-%20CSS%20Grid%20Alignment%20%2B%20Centering/alignment-and-centering-FINISHED.html */ 

/* ################# contact page ##################### */
.contact-main{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.contact-form{
    display: grid;
    grid-column: 1 / 3;
    align-content: center;
    padding: 10px;
    align-content: center;
    /* align-content places the content vertical */
    justify-content: center;
    /* justify-content places the content hosrizontal */
}

.contact-aside{
    border-left: 1.5px #dbdbdb solid;
    display: grid;
    grid-column: 3 / 4;
    padding: 10px;
 }

.contact-aside li, p{
    padding: 10px;
}

.contact-map{
    display: grid;
    grid-column: 1 / -1;
}

.contact-aside ul {
    list-style-type: none;
    padding: 1rem 1rem;
}



/* For this form I got the idea from https://webdesign.tutsplus.com/tutorials/how-to-build-web-form-layouts-with-css-grid--cms-28776 */

label {
    padding-left: 1rem;
}
 
input, textarea, button {
    margin-left: 1rem;
    margin-bottom: 1rem;
    width: 98%;
}

select {
    margin-left: 1rem;
    margin-bottom: 1rem;
    width: 98%;
}
 
form button {
    background: lightgrey;
    padding: 0.7em;
    border: 0;
  }
form button:hover {
    background: gold;
  }
















/* got this iframe css from https://www.lifewire.com/iframes-and-css-3468669 
their example was much more fun then my one, but ir would not suit my site, so did some changes.*/
iframe {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    height: 400px;
}


/* got this from https://blog.rudolphk.co.za/css-tip-remove-spinner-on-input-of-number-9fc4d9cac121 */
input[type='number'] {
    -moz-appearance:textfield;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}





/* I used The Standard Bootstrap 4.x Breakpoints

@media all and (max-width: 1199px) { ... } 
@media all and (max-width: 991px) { ... } 
@media all and (max-width: 768px) { ... } 
@media all and (max-width: 575px) { ... } */

/* ####################################
##                                   ##
###### @media (max-width: 1199px) #####
##                                   ##
####################################### */
@media (max-width: 1199px) {
    body {
        font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        margin: 0px;
        line-height: 1.4rem;
    }

    .aside img{
        width: 25px;
    }

    .box{
        font-size: 1.1rem;
        align-self: center;
    }

    .footer-menu a{
        padding: 0.5rem 0.8rem;
        text-decoration: none;
    }

    /* team.html */
    .team-main{
        display: grid;
        grid-template-columns: repeat( auto-fit, minmax(200px, 1fr) );
        grid-gap: 1rem;
        padding: 0px 1rem;
    }

    .team-img{
        display: grid;
        height: 8rem;
        
    }
}




/* ####################################
##                                   ##
###### @media (max-width: 764px) ######
##                                   ##
####################################### */
@media (max-width: 764px) {
    body {
        font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        margin: 0px;
    }

    .link a{
        font-size: 0.75rem;
    }

    .box{
        font-size: 1rem;
        align-self: center;
    }

    .aside{
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }

    .footer-menu a{
        padding: 0.5rem 0.8rem;
    }

    /* from team.html */

    .team-main{
        display: grid;
        grid-template-columns: repeat( auto-fit, minmax(150px, 1fr) );
        grid-gap: 1rem;
        padding: 0px 1rem;
    }

    .team-img{
        display: grid;
        height: 8rem;
        
    }
}




/* ####################################
##                                   ##
###### @media (max-width: 575px) ######
##                                   ##
####################################### */
@media (max-width: 575px) {
    body {
        font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        margin: 0px;
    }

    .header-top{
        display: grid;
        grid-gap: 1px;
        grid-template-areas:
        "logo" 
        "page-title"
        "nav-top";
    }

    .logo{
        grid-area: logo;
        background: gold;
    }

    .page-title{
        grid-area: page-title;
        font-size: 1rem;

    }

    .top-nav-container{
        grid-area: nav-top;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    
    .link a{
        display: grid;
        background: gold;
        padding: 0.5rem;
        font-size: 0.9rem;
    }
    
    /* Should I do hover??? */
    .link a:hover{
        background: black;
        color: gold;
        font-weight: 600;
        text-decoration: none;
    }

    .banner h2 {
        line-height: 1.8rem;
        padding-left: 1.5rem;
        font-size: 2rem;
    }
    
    .banner p {
        padding: 1.5rem;
        font-size: 1rem;
     }

    .main{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-auto-rows: minmax(200px, auto);
        grid-gap: 5px;
        padding-top: 20px;
        grid-template-areas: 
          "lm" 
          "mil"
          "mir"
          "a";
    }

    .aside{
        grid-area: a;
        border-left: 1.5px #dbdbdb solid;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: repeat(10, 50px);
    }

    .main-img-left, .main-img-right{
        margin: auto;
        width: 80%;
        border: 1px solid gold;
        border-radius: 10px;
    }

    /* FOOTER */
    .footer{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        font-size: 1rem;
        background:gold;
        padding: 30px;
        margin-top: 10px;
        grid-template-areas: 
        "footer-menu"
        "icons"
        "copyright";
    }

    .footer-menu{
        grid-area: footer-menu;
        width: 100%;
        padding-left: 10px;
    }

    .footer-menu a{
        visibility: hidden;
        position: absolute;
        /* a way to hide the content, I learned about it on one of the labs */
    }

    .copyright{
        grid-area:copyright;
        width: 100%;
        padding-left: 10px;
        text-align: center;
    }

    /* from team.html */
    .team-main{
        display: grid;
        grid-template-columns: repeat( auto-fit, minmax(150px, 1fr) );
        grid-gap: 1rem;
        padding: 0px 1rem;
    }

    .team-img{
        display: grid;
        height: 6rem;
        
    }








    /* contact */
    input, textarea, button {
        margin-left: 1rem;
        margin-bottom: 1rem;
        width: 95%;
    }

    select {
        margin-left: 1rem;
        margin-bottom: 1rem;
        width: 95%;
    }

    .contact-main{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    
    .contact-form{
        display: grid;
        grid-column: 1;
        align-content: center;
        padding: 10px;
        align-content: center;
        /* align-content places the content vertical */
        justify-content: center;
        /* justify-content places the content hosrizontal */
    }
    
    .contact-aside{
        border-left: 1.5px #dbdbdb solid;
        display: grid;
        grid-column: 1;
        padding: 10px;
     }
    
    .contact-aside li, p{
        padding: 10px;
    }
    
    .contact-map{
        display: grid;
        grid-column: 1;
    }


}



